body,html{
    width: 100%;
    height: 100%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.qr{
    width:30%;
    margin: 0 auto;
    margin-top: 10%;
}
p{
    margin-left: 5%;
    font-size: 5rem;
    color: #fff;
}
.qr img{
    display: block;
    width: 100%;
}
.face{
    width: 20%;
    height: : 30%;
    position: absolute;
    top: 63%;
    left: 80%;
    display: none;
}
.bullet{
    width: 20%;
    height: : 30%;
    position: absolute;
    display: none;

}
.shutter{
    padding: 10%;
}
.remaining{
    width: 25%;
    display: flex;
}
.remaining .image {
    width: 20%;
    list-style: none;
}
.remaining img{
    display: block;
    width: 100%;
    height: auto;
}
